body {
    background-color: black;
  }
  #Aliengen{
      background-color: white;
  }
  .AlienHead{
     height: 100px; 
     width: 150px;
     background-color: #ffff;
     border-radius: 50%;
     transform: rotate(90deg);
     display:block;
     margin-left:auto;
     margin-right: auto;
     margin-top: 125px;
     border-color: black;
     border-style:solid;
  }
.AlienLear{
height: 100px;
width: 2px;
margin-left:-25px;
margin-top:64px;
transform: rotate(45deg);
background-color: black;
}
.AlienRear{
    height: 100px;
    width: 2px;
    margin-left:-25px;
    margin-top:-226px;
    transform: rotate(-45deg);
    background-color: black;
}
.Learball{
    height: 25px; 
    width: 40px;
    background-color:white;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    margin: -25x;
    margin-bottom: 500px;
    position:relative;
    left:-18px;
    top:80px;
}
.Rearball{
    height: 25px; 
    width: 40px;
    background-color: white;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    margin: -25x;
    margin-bottom: 500px;
    position:relative;
    left:-18px;
    top:-20px;
   
}
.LEYE{
    height: 25px; 
    width: 55px;
    background-color: #ffff;
    border-radius: 50%;
    transform: rotate(180deg);
    border-color: black;
    border-style:solid;
    position: absolute;
    left:30px;
    top:10px;


}
.REYE{
    height: 25px; 
    width: 55px;
    background-color: #ffff;
    border-radius: 50%;
    transform: rotate(180deg);
    border-color: black;
    border-style:solid;
    position: absolute;
    left:30px;
    top: 61px;
}
.eyeglint{
    height: 5px; 
    width: 10px;
    background-color: #ffff;
    border-radius: 50%;
    transform: rotate(180deg);
    border-color: black;
    border-style:solid;
    position: absolute;
    left:35px;
    top:5px;
}
.smile{
    position:absolute;
    transform: rotate(270deg);
 height: 50px;
 top:25px;
 left:80px;
}
.alienbody{
    height: 100px; 
    width: 160px;
    background-color: #ffff;
    border-radius: 50%;
    transform: rotate(90deg);
    display:block;
    border-color: black;
    border-style:solid;
    position: absolute;
    left: 152px;
    top: 800px;
}
